.box-visual-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.box-visual {
  width: 300px;
  height: 200px;
  border: 2px solid #111;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.box-visual-title {
  background-color: #111;
  color: white;
  padding: 10px;
  font-size: 18px;
  border-left: 2px solid #111;
  border-right: 2px solid #111;
}

.box-visual-content {
  flex-grow: 1;
  background-image: url("/static/BoxBackgroundOpacity.png");
  background-size: cover;
  display: flex;
  align-items: center;
  color: #111;
  font-size: 16px;
  position: relative;
}

#bottom-left {
  position: absolute;
  bottom: 3px;
  left: 5px;
  font-size: 10px;
}

/*/////*/

.box-side-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
}

.box-side-visual {
  display: flex;
  width: 350px;
  height: 200px;
  border: 2px solid #111;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  position: relative;
}

.box-side-visual-sidebar {
  width: 40px;
  background-color: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #fff;
}

.box-side-visual-title {
  color: white;
  font-size: 16px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  align-self: center;
  text-align: center;
  white-space: nowrap;
}

.box-side-visual-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111;
  font-size: 16px;
  position: relative;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.box-side-border-color-red {
  border-color: #a51d2d;
}

.box-side-sidebar-color-red {
  background-color: #a51d2d;
}

.box-side-border-color-orange {
  border-color: #c64600;
}

.box-side-sidebar-color-orange {
  background-color: #c64600;
}

.box-side-border-color-yellow {
  border-color: #e5a50a;
}

.box-side-sidebar-color-yellow {
  background-color: #e5a50a;
}

.box-side-border-color-green {
  border-color: #26a269;
}

.box-side-sidebar-color-green {
  background-color: #26a269;
}

.box-side-border-color-blue {
  border-color: #1a5fb4;
}

.box-side-sidebar-color-blue {
  background-color: #1a5fb4;
}

.box-side-border-color-brown {
  border-color: #63452c;
}

.box-side-sidebar-color-brown {
  background-color: #63452c66;
}

.box-side-border-color-purple {
  border-color: #613583;
}

.box-side-sidebar-color-purple {
  background-color: #613583;
}

/*/////*/

.box-visual-under {
  width: 300px;
  border: 2px solid #111;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 20px;
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
}

.box-visual-under-title {
  background-color: #111;
  color: white;
  padding: 10px;
  font-size: 18px;
  border-top: 2px solid #111;
}

.box-visual-under-content {
  background-image: url("/static/BoxBackgroundOpacity.png");
  background-size: cover;
  display: flex;
  align-items: center;
  color: #111;
  font-size: 16px;
  position: relative;
  padding: 10px;
  height: 140px;
}
